/*
0 - 600 px          Phone
600 - 900 px        Tablet portrait
900 - 1200 px       Tablet Landscape
1200 - 1800 px      Desktop
1800+               Big Desktop
// Type-1
@mixin respond-phone {
    @media (max-width: 600px) { @content };
}
$breakpoint arguement choice:
-phone
-tab-port
-tab-land
-big-desktop
*/
html {
  font-size: 62.5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

* {
  box-sizing: border-box; }

.Container-Header {
  background-color: yellow;
  position: relative; }
  .Container-Header-texthead {
    display: inline-block;
    padding-left: 1rem; }
  .Container-Header ul {
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    z-index: 1; }
    .Container-Header ul li {
      display: inline-block;
      padding: 1rem; }

.iconMenu {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem; }
